<header>
    <div class="navbar navbar-expand-sm bg-primary navbar-dark mt-5">
        <div class="container">
            <a href="/" class="navbar-brand">Quarter Glass Detection</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="alert alert-info" role="alert">
                        Body No : <strong>{{dest1.bodyNo}}</strong>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="alert alert-info ml-3" role="alert">
                        Assy No : <strong>{{dest1.assyNo}}</strong>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="alert alert-info ml-3" role="alert">
                        Spek : <strong>{{dest1.spek}}</strong>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</header>